html,
body,
#main {
    background-color: #222;
}

li {
    word-break: break-all;
}

textarea.key-text {
    height: 150px;
    /* To make sure text looks like the correct length for each line */
    font-family: monospace;
}

.scroll-div {
    overflow-y: scroll;
}

@media (min-width: 1024px) {
    body {
        padding: 30px;
    }
}

#messages {
    max-height: 460px;
    height: 100%;
    overflow-y: scroll;
}

.color-white {
    color: #ffffff;
}

.checksum-text {
    word-break: break-all;
    font-family: monospace;
}

#user_list {
    list-style: none;
}

/*.btn-file {*/
/*position: relative;*/
/*overflow: hidden;*/
/*}*/

/*.btn-file input[type=file] {*/
/*position: absolute;*/
/*top: 0;*/
/*right: 0;*/
/*min-width: 100%;*/
/*min-height: 100%;*/
/*font-size: 100px;*/
/*text-align: right;*/
/*filter: alpha(opacity=0);*/
/*opacity: 0;*/
/*outline: none;*/
/*background: white;*/
/*cursor: inherit;*/
/*display: block;*/
/*}*/