# Library files
/node_modules
/bower_components

# certificates
/src/server/certs/*
!/src/server/certs/empty

# user list
/src/server/configs/users.json

# config file
/src/server/configs/config.js

# build files
/app/dist/
