# Library files
/node_modules
/bower_components

# certificates
/src/server/certs/*
!/src/server/certs/empty

# config file
/src/server/configs/config.js

# build files
/app/dist/

# database file
/src/server/data/database.db
/src/server/data/users.json
