<div id="chat_screen">

    <div class="col-xs-12 col-md-6 col-lg-8 col-lg-push-4" id="message_div">
        <div class="panel panel-success">
            <div class="panel-heading body_toggle" data-toggle="messages_body">
                Messages
            </div>
            <div class="panel-body" id="messages_body">
                <ul id="messages"></ul>
                <a id="clear_messages" class="btn btn-danger btn-sm pull-right">
                    Clear
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 col-lg-pull-8">
        <div class="panel panel-info">
            <div class="panel-heading body_toggle" data-toggle="users_body">
                Users
            </div>
            <div class="panel-body" id="users_body">
                <div id="user_list"></div>
            </div>
        </div>

        <form id="message_form" method="post">
            <div class="panel panel-info">
                <div class="panel-heading body_toggle" data-toggle="new_message_body">
                    New Message
                </div>
                <div class="panel-body" id="new_message_body">

                    <div class="form-group">
                        <label for="inputTarget">Target</label>
                        <input type="text" id="inputTarget" name="inputTarget" class="form-control input-lg"
                               placeholder="No user selected" readonly required>
                    </div>

                    <div class="form-group">
                        <label for="inputMessage">Message</label>
                        <input type="text" id="inputMessage" name="inputMessage" class="form-control input-lg"
                               placeholder="Message" required autocomplete="off">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Send Message
                        </button>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <!--<span class="btn btn-success btn-lg btn-block btn-file">-->
                                <label class="">
                                    Choose a file <input type="file" id="file_upload_test">
                                </label>
                            </div>
                        </div>
                        <!--<div class="col-xs-12 col-sm-6">-->
                        <!--<div class="row">-->
                        <!--<input type="text" class="form-control input-lg" id="file_upload_result" readonly>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <a class="btn btn-lg btn-primary btn-block" id="file_upload">Send File</a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="row">
                                <label><input type="checkbox"> Allow people to send me files.</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>

    </div>

</div>



