<div id="chat_screen">

    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Messages
            </div>
            <div class="panel-body">
                <ul id="messages"></ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Users
            </div>
            <div class="panel-body">
                <ul id="user_list"></ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
        <form id="message_form" method="post">

            <div class="panel panel-info">
                <div class="panel-heading">
                    Message
                </div>
                <div class="panel-body">

                    <label for="inputMessage" class="sr-only">Message</label>
                    <input type="text" id="inputMessage" name="inputMessage" class="form-control input-lg"
                           placeholder="Message" required>

                    <label for="inputTarget" class="sr-only">Message</label>
                    <input type="text" id="inputTarget" name="inputTarget" class="form-control input-lg"
                           placeholder="None" readonly required>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Send
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>



