<div id="chat_screen">

    <div class="col-xs-12 col-md-6 col-lg-8 col-lg-push-4" id="message_div">
        <div class="panel panel-success">
            <div class="panel-heading body_toggle" data-toggle="messages_body">
                Messages
            </div>
            <div class="panel-body" id="messages_body">
                <ul id="messages"></ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 col-lg-pull-8">
        <div class="panel panel-info">
            <div class="panel-heading body_toggle" data-toggle="users_body">
                Users
            </div>
            <div class="panel-body" id="users_body">
                <div id="user_list"></div>
            </div>
        </div>

        <form id="message_form" method="post">
            <div class="panel panel-info">
                <div class="panel-heading body_toggle" data-toggle="new_message_body">
                    New Message
                </div>
                <div class="panel-body" id="new_message_body">

                    <label for="inputMessage" class="sr-only">Message</label>
                    <input type="text" id="inputMessage" name="inputMessage" class="form-control input-lg"
                           placeholder="Message" required autocomplete="off">

                    <label for="inputTarget">Target</label>
                    <input type="text" id="inputTarget" name="inputTarget" class="form-control input-lg"
                           placeholder="No user selected" readonly required>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Send
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>



