<div class="col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="pull-right">
                <i id="server_status" class="">Loading</i>
                <i id="server_status_icon" class="fa fa-refresh fa-spin"></i>
            </span>
            Debug
        </div>
        <div class="panel-body">
            <ul id="debug_list"></ul>
        </div>
    </div>
</div>