<div>

    <div class="col-xs-12">
        <div class="panel panel-primary">

            <div class="panel-heading body_toggle" data-toggle="settings_body">
                <span class="pull-right">
                    <!--<i id="server_status" class="">Loading</i>-->
                    <!--<i id="server_status_icon" class="fa fa-refresh fa-spin"></i>-->
                </span>
                Settings
            </div>

            <div class="panel-body" id="settings_body">

                <div class="col-xs-12">
                    <div class="row">
                        <a class="btn btn-success pull-right" id="update_md5_hashes">Refresh checksums</a>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <label for="inputTarget">Private decryption key</label>
                        <textarea class="form-control key-text" id="private_key_input"></textarea>
                        <div class="col-xs-12"><span id="private_key_md5hash" class="checksum-text"></span></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <label for="inputTarget">Public encryption key</label>
                        <textarea class="form-control key-text" id="public_key_input"></textarea>
                        <div class="col-xs-12"><span id="public_key_md5hash" class="checksum-text"></span></div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="row">

                        <div class="col-xs-12 col-sm-4">
                            <div class="row">
                                <a class="btn btn-warning col-xs-12" id="new_encryption_keypair">
                                    New encryption keypair <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <div class="row">
                                <a class="btn btn-success col-xs-12 save_keypair" data-type="encryption">
                                    Save <i class="fa fa-floppy-o"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <div class="row">
                                <a class="btn btn-info col-xs-12 load_keypair" data-type="encryption">
                                    Load <i class="fa fa-folder-open-o"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <label for="inputTarget">Private signing key</label>
                        <textarea class="form-control key-text" id="private_key_sign_input"></textarea>
                        <div class="col-xs-12"><span id="private_key_sign_md5hash" class="checksum-text"></span></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <label for="inputTarget">Public verification key</label>
                        <textarea class="form-control key-text" id="public_key_sign_input"></textarea>
                        <div class="col-xs-12"><span id="public_key_sign_md5hash" class="checksum-text"></span></div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="row">
                                <a class="btn btn-warning col-xs-12" id="new_encryption_sign_keypair">
                                    New signing keypair <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="row">
                                <a class="btn btn-success col-xs-12 save_keypair" data-type="sign">
                                    Save <i class="fa fa-floppy-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="row">
                                <a class="btn btn-info col-xs-12 load_keypair" data-type="sign">
                                    Load <i class="fa fa-folder-open-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-xs-12">
        <h2 class="color-white">Stored AES keys</h2>
        <p class="color-white">
            These are the AES keys stored on this client and the RSA keys that were used to verify these AES keys.
        </p>
        <div id="stored_key_div"></div>
    </div>
</div>


