<div>

    <div class="col-xs-12">
        <!--<div class="panel panel-danger">-->
        <!--<div class="panel-heading body_toggle" data-toggle="debug_body">-->
        <!--<span class="pull-right">-->
        <!--<i id="server_status" class="">Loading</i>-->
        <!--<i id="server_status_icon" class="fa fa-refresh fa-spin"></i>-->
        <!--</span>-->
        <!--Debug-->
        <!--</div>-->
        <!--<div class="panel-body scroll-div" id="debug_body" style="display: none;">-->
        <!--<div id="debug_list"></div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="panel panel-primary">
            <div class="panel-heading body_toggle" data-toggle="settings_body">
                <span class="pull-right">
                    <i id="server_status" class="">Loading</i>
                    <i id="server_status_icon" class="fa fa-refresh fa-spin"></i>
                </span>
                Settings
            </div>
            <div class="panel-body" id="settings_body" style="display: none;">

                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <label for="inputTarget">Private decryption key</label>
                        <textarea class="form-control key-text" id="private_key_input"></textarea>

                        <div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <a class="btn btn-success col-xs-12 save_set_data"
                                       data-save_key="privateEncryptionKey"
                                       data-save_target_field="#private_key_input">
                                        Save <i class="fa fa-floppy-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <a class="btn btn-info col-xs-12 save_get_data" data-save_key="privateEncryptionKey"
                                       data-save_target_field="#private_key_input">
                                        Load <i class="fa fa-folder-open-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <a class="btn btn-danger col-xs-12 save_delete_data"
                                       data-remove_key="privateEncryptionKey">
                                        Remove <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xs-12"><span id="private_key_md5hash"></span></div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <label for="inputTarget">Public encryption key</label>
                        <textarea class="form-control key-text" id="public_key_input"></textarea>

                        <div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <a class="btn btn-success col-xs-12 save_set_data"
                                       data-save_key="publicEncryptionKey"
                                       data-save_target_field="#public_key_input">
                                        Save <i class="fa fa-floppy-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <a class="btn btn-info col-xs-12 save_get_data" data-save_key="publicEncryptionKey"
                                       data-save_target_field="#public_key_input">
                                        Load <i class="fa fa-folder-open-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <a class="btn btn-danger col-xs-12 save_delete_data"
                                       data-remove_key="publicEncryptionKey">
                                        Remove <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xs-12"><span id="public_key_md5hash"></span></div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <a class="btn btn-warning" id="new_encryption_keypair">New encryption keypair</a>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <label for="inputTarget">Private signing key</label>
                        <textarea class="form-control key-text" id="private_key_sign_input"></textarea>

                        <div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <a class="btn btn-success col-xs-12 save_set_data" data-save_key="privateSignKey"
                                       data-save_target_field="#private_key_sign_input">
                                        Save <i class="fa fa-floppy-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <a class="btn btn-info col-xs-12 save_get_data" data-save_key="privateSignKey"
                                       data-save_target_field="#private_key_sign_input">
                                        Load <i class="fa fa-folder-open-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <a class="btn btn-danger col-xs-12 save_delete_data"
                                       data-remove_key="privateSignKey">
                                        Remove <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xs-12"><span id="private_key_sign_md5hash"></span></div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <label for="inputTarget">Public verification key</label>
                        <textarea class="form-control key-text" id="public_key_sign_input"></textarea>

                        <div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <a class="btn btn-success col-xs-12 save_set_data" data-save_key="publicSignKey"
                                       data-save_target_field="#public_key_sign_input">
                                        Save <i class="fa fa-floppy-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <a class="btn btn-info col-xs-12 save_get_data" data-save_key="publicSignKey"
                                       data-save_target_field="#public_key_sign_input">
                                        Load <i class="fa fa-folder-open-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <a class="btn btn-danger col-xs-12 save_delete_data"
                                       data-remove_key="publicSignKey">
                                        Remove <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xs-12"><span id="public_key_sign_md5hash"></span></div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <a class="btn btn-success pull-right" id="update_md5_hashes">Refresh MD5 hashes</a>
                        <a class="btn btn-warning" id="new_encryption_sign_keypair">New signing keypair</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>


