<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="NodeJS end-to-end">
    <meta name="keywords" content="NodeJS, end-to-end, sockets, rsa, encryption, sjcl">
    <meta name="author" content="Gregory Goijaerts">
    <meta charset="UTF-8">

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div id="main" class="container-fluid">

    <div id="content">
        <%- chat_screen %>
    </div>

    <%- login_screen %>

    <%- debug_screen %>

</div>

<script src="/dist/main_package.js"></script>
</body>
</html>