<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="NodeJS end-to-end">
    <meta name="keywords" content="NodeJS, end-to-end, sockets, rsa, encryption, sjcl">
    <meta name="author" content="Gregory Goijaerts">
    <meta charset="UTF-8">

    <link href="/dist/style.css" rel="stylesheet">
</head>
<body>

<div id="main" class="container-fluid" style="display: none;">

    <div id="content" style="display: none;">
        <%- chat_screen %>
    </div>

    <%- login_screen %>

    <%- debug_screen %>

</div>

<div id="loader" class="text-center" style="color: #fff;">
    <h1 id="server_status" class="">Loading</h1>
    <h1 id="server_status_icon" class="fa fa-refresh fa-spin fa-5x"></h1>
</div>

<script src="dist/package.js"></script>
<script src="dist/main.js"></script>
</body>
</html>