<!DOCTYPE html>
<html>
<head>
    <title>End-To-End chat</title>

    <meta name="description" content="NodeJS end-to-end">
    <meta name="keywords" content="NodeJS, end-to-end, sockets, rsa, encryption, sjcl">
    <meta name="author" content="Gregory Goijaerts">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href="dist/main.css" rel="stylesheet">
</head>
<body>

<div id="app">
    <div class="text-center" style="color: white;">
        <h1 class="fa fa-refresh fa-spin fa-5x"></h1>
    </div>
</div>

<script src="dist/mainbundle.js"></script>
<!--<script src="dist/main.js"></script>-->
</body>
</html>