<!DOCTYPE html>
<html>
<head>
    <title>End-To-End chat</title>

    <meta name="description" content="NodeJS end-to-end">
    <meta name="keywords" content="NodeJS, end-to-end, sockets, rsa, encryption, sjcl">
    <meta name="author" content="Gregory Goijaerts">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="/img/lockIcon.png">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href="dist/vendor.css" rel="stylesheet">
</head>
<body>

<div id="app"></div>

<!-- socket dependency -->
<script src="/socket.io/socket.io.js"></script>

<!-- general vendor files -->
<!--<script src="/dist/nodersa.js"></script>-->
<script src="/dist/vendor.js"></script>

<!-- custom client files -->
<script src="/dist/Utils.js"></script>
<!--<script src="/dist/ConnectionHelper.js"></script>-->
<!--<script src="/dist/CryptoHelper.js"></script>-->
<!--<script src="/dist/Client.js"></script>-->

<!-- the react app -->
<script src="/dist/app.js"></script>
</body>
</html>